.container {

  width: 95vw;
  max-width: 53.125rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.875rem 2.1875rem 2.1875rem;
  border-radius: .625rem;
  box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.1);

}

.wrapper {

  display: flex;
  margin: .625rem 0;
  min-height: 20.9375rem;

}

.editorPanel {

  padding: var(--space-xs) var(--space-2xs);
  width: 17.5rem;
  border-radius: .3125rem;
  border: .0625rem solid #f9f9f966;

}

.title {

  display: block;
  font-size: 1rem;
  margin-bottom: .75rem;

}

.options,
.controls {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

}

.button {

  padding: .5rem;
  font-size: var(--step--3);
  color: #f9f9f9;
  border-radius: .1875rem;
  border: .0625rem solid #f9f9f966;
  outline: none;
  background-color: transparent;

}

.filter > .options {

  gap: .5rem 0;
  margin-top: var(--space-3xs);

}

.filter > .options > button {width: calc(100% / 2 - .25rem);}

.slider{margin-top: .75rem;}

.filter-info {

  display: flex;
  justify-content: space-between;
  font-size: .875rem;
  color: #464646;

}

.input {

  width: 100%;
  height: .3125rem;
  accent-color: #5372F0;

}

.rotate{margin-top: 1.0625rem;}

.rotate > .options > button {

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - .1875rem);
  padding: var(--space-3xs) 0;
  font-size: var(--step--2);
  color: #f9f9f9;
  background-color: transparent;
  border: .0625rem solid #f9f9f966;

}

.img {

  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 1.25rem;
  border-radius: .3125rem;
  align-items: center;
  justify-content: center;

}

.img > img {

  max-width: 30.625rem;
  max-height: 20.9375rem;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.resetFilter {

  padding: .5rem;
  color: #f9f9f9;
  background-color: transparent;
  border: thin solid #f9f9f966;
  border-radius: .1875rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;

}

@media screen and (max-width: 47.5rem) {
  
  .container{padding: 1.5625rem;}
  
  .wrapper{flex-wrap: wrap-reverse;}

  .editorPanel {

    width: 100%;
    margin-top: var(--space-2xs);

  }

  .img {

    width: 100%;
    margin: 0 0 .9375rem;

  }

}

@media screen and (max-width: 31.25rem) {

  .controls > button {

    width: 100%;
    margin-bottom: .625rem;

  }

  .row {width: 100%;}

  .saveImg {margin-left: 0;}

}